<!DOCTYPE html>
<html>
    <head>
        <meta cahrset = "UTF-8">
        <title> Employee Main Page</title>
    </head>
    <body>
        <div>
            <main>
                <h1> Employee Reimbursment Front Page</h1>
                <div style="float:center; text-align:center">
                    <button id= "newRequest">Create a New Reimbursment Request</button>
                    <button id ="logout">Log Out</button>
                </div>
                <br>
                <br>
                <div style="float:center; text-align:center">
                    <button id= "authorView">View Reimbursments</button>
                </div>
            </main>
        </div>
        <script src="../scripts/EmployeePortal.js"></script>
    </body>
</html>