<!DOCTYPE html>
<html>
    <head>
        <meta cahrset = "UTF-8">
        <title> Manager Main Page</title>
    </head>
    <body>
        <div>
            <main>
                <h1> Manager Reimbursment Front Page</h1>
                <div style="float:center; text-align:center">
                    <button id= "requestad">aprove or decline requests</button>
                    <button id = "deleteEmp">Remove employee from system</button>
                    <button id ="logout">Log Out</button>
                </div>
                <br>
                <br>
            </main>
        </div>
        <script src="../scripts/managerPortal.js"></script>
    </body>
</html>