<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body onload= getReim()>
	
	<p>inside Reimbursment view</p>
		<p id="showData"></p>

	<!-- 
	<div calss="container" id="data">
		<table>
			<thread>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thread>
		
		<tbody id="remTable">
		</tbody>
	</table>

	</div>
	-->

	<script src="../scripts/reimAuthor.js"></script>
</body>
</html>