<!DOCTYPE html>
<html>
    <head>
        <meta cahrset = "UTF-8">
        <title> Request Handler</title>
    </head>
    <body>
        <div class="form-row justify-content-center">
            <label>request id:</label>
        </div>
        <div class="form-row justify-content-center">
            <input class="inputstyle" type="text" name="rid" id="rid">
        </div>
            <main>
                <h1> Request Handler</h1>
                <div style="float:center; text-align:center">
                    <button id= "approve">approve</button>
                    <button id = "denied">denied</button>
                    <button id ="logout">Log Out</button>
                </div>
                <br>
                <br>
                <div style="float:center; text-align:center">
                    <button id= "authorView">View Reimbursments</button>
                </div>
            </main>
        </div>
        <script src="../scripts/requestHandle.js"></script>
    </body>
</html>